USE [master]
GO
/****** Object:  Database [DAI_personaje]    Script Date: 2/6/2022 23:23:20 ******/
CREATE DATABASE [DAI_personaje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAI_personaje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DAI_personaje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAI_personaje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DAI_personaje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI_personaje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI_personaje]
GO
/****** Object:  User [alumno]    Script Date: 2/6/2022 23:23:21 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [alumno]
GO
/****** Object:  Table [dbo].[PeliculaoSerie]    Script Date: 2/6/2022 23:23:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculaoSerie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](200) NULL,
	[titulo] [varchar](200) NULL,
	[Fechadecreacion] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relacion]    Script Date: 2/6/2022 23:23:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relacion](
	[idPersonaje] [int] NULL,
	[idPelicula] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tablapersonaje]    Script Date: 2/6/2022 23:23:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tablapersonaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[peso] [int] NULL,
	[imagen] [varchar](200) NULL,
	[historia] [varchar](200) NULL,
	[edad] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PeliculaoSerie] ON 

INSERT [dbo].[PeliculaoSerie] ([Id], [Imagen], [titulo], [Fechadecreacion]) VALUES (1, N'a', N'a', CAST(N'2222-11-11' AS Date))
INSERT [dbo].[PeliculaoSerie] ([Id], [Imagen], [titulo], [Fechadecreacion]) VALUES (2, N'b', N'b', CAST(N'1111-11-11' AS Date))
INSERT [dbo].[PeliculaoSerie] ([Id], [Imagen], [titulo], [Fechadecreacion]) VALUES (3, N'c', N'c', CAST(N'1111-11-11' AS Date))
SET IDENTITY_INSERT [dbo].[PeliculaoSerie] OFF
GO
INSERT [dbo].[Relacion] ([idPersonaje], [idPelicula]) VALUES (1, 2)
INSERT [dbo].[Relacion] ([idPersonaje], [idPelicula]) VALUES (2, 1)
INSERT [dbo].[Relacion] ([idPersonaje], [idPelicula]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Tablapersonaje] ON 

INSERT [dbo].[Tablapersonaje] ([id], [nombre], [peso], [imagen], [historia], [edad]) VALUES (1, N'a', 1, N'a', N'a', 1)
INSERT [dbo].[Tablapersonaje] ([id], [nombre], [peso], [imagen], [historia], [edad]) VALUES (2, N'b', 2, N'b', N'b', 2)
INSERT [dbo].[Tablapersonaje] ([id], [nombre], [peso], [imagen], [historia], [edad]) VALUES (3, N'c', 3, N'c', N'qc', 3)
SET IDENTITY_INSERT [dbo].[Tablapersonaje] OFF
GO
USE [master]
GO
